[user]
	email = tapo4c902@gmail.com
	name = SRLQNL
[credential "https://github.com"]
	helper =
	helper = !~/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !~/.local/bin/gh auth git-credential
