@import url("themes/shado.css");

@define-color window-bg @base;
@define-color input-bg @surface;
@define-color entry-selected-bg @highlightMed;
@define-color border-color @mauve;
@define-color lavender @cat_blue;

* {
    all: unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    border-radius: 12px;
    padding: 20px;
    background-color: @window-bg;
}

#inner-box {
    margin: 0px;
    padding: 0px;
    border: none;
}

#outer-box {
    border: 2px solid @border-color;
    border-radius: 8px;
}

#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
}

#input {
    all: unset;
    margin: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: @input-bg;
}

#input image {
    border: none;
    color: @red;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}

#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}

#entry arrow {
    border: none;
    color: @lavender;
}

#entry:selected {
    border: none;
    border-radius: 20px;
    background-color: @entry-selected-bg;
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}
